<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4>Usuarios</h4>
        <br>
        <p *ngIf="!usuarios.length" >No hay registros</p>
        <table *ngIf="usuarios.length" class="table">
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td><img [src]="usuario.img | image:'usuarios'" class="w50"></td>
              <td>{{usuario.nombre}}</td>
              <td>
                <button type="button" [routerLink]="['/medicos']" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4>Medicos</h4>
        <br>
        <p *ngIf="!medicos.length" >No hay registros</p>
        <table *ngIf="medicos.length" class="table">
          <tbody>
            <tr *ngFor="let medico of medicos">
              <td><img [src]="medico.img | image:'medicos'" class="w50"></td>
              <td>{{medico.nombre}}</td>
              <td>
                <button type="button" [routerLink]="['/medico', medico._id]" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4>Hospitales</h4>
        <br>
        <p *ngIf="!hospitales.length" >No hay registros</p>
        <table *ngIf="hospitales.length" class="table">
          <tbody>
            <tr *ngFor="let hospital of hospitales">
              <td><img [src]="hospital.img | image:'hospitales'" class="w50"></td>
              <td>{{hospital.nombre}}</td>
              <td>
                <button type="button" [routerLink]="['/hospitales']" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>