<div class="row animated fadeIn">
  <div class="col-md-7">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Personal Data</h3>
      <br>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form ngNativeValidate #f="ngForm"  (ngSubmit)="guardarCambios(f.value)">
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input type="text" class="form-control" [ngModel]="usuario.nombre" name="nombre" id="exampleInputEmail1" placeholder="Enter Username" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" [ngModel]="usuario.email" name="email"  id="exampleInputEmail1" placeholder="Enter email" [disabled]="usuario.google"  required>
            </div>
            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i>
              Save Data
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card card-body">
      <h3 class="box-title m-b-0">User Photo</h3>
      <br>
      <div class="d-flex justify-content-center">
        <img *ngIf="!imgTemp" [src]="usuario.img | image" class="w150">
        <img *ngIf="imgTemp" [src]="imgTemp" class="w150">
      </div>
      <br>
      <input type="file" (change)="selectImg($event.target.files[0])">
      <br>
      <button type="button" (click)="changeImg()" [disabled]="!imgUpload" class="btn btn-success btn-block waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i>
          Save Photo
        </button>
    </div>
  </div>
</div>
